.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 1965px;
  position: relative;
  overflow: hidden;
}
.tumblr-nsdi-58-h-yz-71-qegdapo-1-540-1 {
  width: 1440px;
  height: 1707px;
  position: absolute;
  left: 0px;
  top: 129px;
  object-fit: cover;
  aspect-ratio: 1440/1707;
}
.rectangle-24 {
  background: rgba(248, 248, 232, 0.74);
  width: 838px;
  height: 2001px;
  position: absolute;
  left: 309px;
  top: 47px;
}
.rectangle-22 {
  background: #fcd6d7;
  width: 1440px;
  height: 129px;
  position: absolute;
  left: 0px;
  top: 1836px;
}
.rectangle-23 {
  background: #ffcee5;
  width: 1440px;
  height: 129px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.tumblr-bebb-89419-cf-6-a-0-abc-6-b-561-ea-123-ce-9-a-5-5-ce-8-f-244-75-1 {
  width: 203px;
  height: 203px;
  position: absolute;
  left: 55px;
  top: 1643px;
  object-fit: cover;
  aspect-ratio: 1;
}
._71-n-zx-08-6-o-l-ac-sl-1500-photoroom-1 {
  width: 344px;
  height: 800px;
  position: absolute;
  left: 1113px;
  top: 1001px;
  object-fit: cover;
  aspect-ratio: 344/800;
}
.w-5-go-4-r-2 {
  width: 105px;
  height: 105px;
  position: absolute;
  left: 78px;
  top: 640px;
  object-fit: cover;
  aspect-ratio: 1;
}
.tumblr-f-6-fbcff-2366-d-8-da-9-f-07117-b-9-fa-2010-dc-5-b-2-a-1-fd-5-75-1 {
  width: 144px;
  height: 144px;
  position: absolute;
  left: 1096px;
  top: 246px;
  object-fit: cover;
  aspect-ratio: 1;
}
.tumblr-533-b-84-a-9911-fe-19-f-919-d-6-f-33-cf-4-c-7382-ca-916282-250-1 {
  width: 159px;
  height: 159px;
  position: absolute;
  left: 1285px;
  top: 1032px;
  object-fit: cover;
  aspect-ratio: 1;
}
.tumblr-43623-f-4786-d-0-d-8-c-6850933-cc-11630-f-85-de-31-af-40-100-1 {
  width: 171px;
  height: 171px;
  position: absolute;
  left: 1258px;
  top: 1472px;
  object-fit: cover;
  aspect-ratio: 1;
}
.tumblr-0-ea-5-d-52-f-269-eb-764-e-503-f-8-c-4-b-0-ef-94-b-4-a-3-d-56-c-10-250-1 {
  width: 229px;
  height: 129px;
  position: absolute;
  left: 42px;
  top: 927px;
  object-fit: cover;
  aspect-ratio: 229/129;
}
.tumblr-0975-c-03-a-8-ea-4-b-4-c-906501-f-2-ff-3-cac-4-b-3-0-bc-8110-d-250-1 {
  width: 251px;
  height: 34px;
  position: absolute;
  left: 31px;
  top: 802px;
  object-fit: cover;
  aspect-ratio: 251/34;
}
._3-b-4-cb-9-fff-945-d-63288-d-71126-e-273-a-5-c-6-1 {
  width: 263px;
  height: 351px;
  position: absolute;
  left: 1166px;
  top: 1485px;
  object-fit: cover;
  aspect-ratio: 263/351;
}
._014-1 {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 1228px;
  top: 868px;
  object-fit: cover;
  aspect-ratio: 1;
}
.tumblr-b-74-f-727-f-0075-a-90-f-653-b-9-ab-64891-c-500-73235917-250-1 {
  width: 446px;
  height: 59px;
  position: absolute;
  left: 531px;
  top: 268px;
  object-fit: cover;
  aspect-ratio: 446/59;
}
.tumblr-b-72-f-791-cfe-016-f-853776-fb-0-f-4-b-458330-0-fdb-04-ee-2048-1 {
  width: 1435px;
  height: 181px;
  position: absolute;
  left: 2px;
  top: 113px;
  object-fit: cover;
  aspect-ratio: 1435/181;
}
.b-3-da-2-c-87-ae-0-e-5-ed-67795555-c-6590-d-02-e-edited-free-carve-photos-3 {
  width: 640px;
  height: 560px;
  position: absolute;
  left: 432px;
  top: 367px;
  object-fit: cover;
  aspect-ratio: 640/560;
}
._263-1 {
  width: 170px;
  height: 170px;
  position: absolute;
  left: 224px;
  top: 1558px;
  object-fit: cover;
  aspect-ratio: 1;
}
._250-1 {
  width: 128px;
  height: 153px;
  position: absolute;
  left: 207px;
  top: 1038px;
  object-fit: cover;
  aspect-ratio: 128/153;
}
._028-1 {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 168px;
  top: 246px;
  object-fit: cover;
  aspect-ratio: 1;
}
.img-1607-2 {
  width: 723px;
  height: 460px;
  position: absolute;
  left: 381px;
  top: 894px;
  object-fit: cover;
  aspect-ratio: 723/460;
}
._025-1 {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 529px;
  top: 210px;
  object-fit: cover;
  aspect-ratio: 1;
}
._024-1 {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 1113px;
  top: 637px;
  object-fit: cover;
  aspect-ratio: 1;
}
.dmn-3-g-7-2 {
  width: 264px;
  height: 284px;
  position: absolute;
  left: 1153px;
  top: 403px;
  object-fit: cover;
  aspect-ratio: 264/284;
}
.img-0434-1 {
  width: 302px;
  height: 302px;
  position: absolute;
  left: 1158px;
  top: 727px;
  object-fit: cover;
  aspect-ratio: 1;
}
.p-15-1 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1300px;
  top: 1184px;
  object-fit: cover;
  aspect-ratio: 1;
}
.p-12-1 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1240px;
  top: 1184px;
  object-fit: cover;
  aspect-ratio: 1;
}
.nofe-79-1 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1360px;
  top: 1124px;
  object-fit: cover;
  aspect-ratio: 1;
}
.p-29-1 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1300px;
  top: 1124px;
  object-fit: cover;
  aspect-ratio: 1;
}
.p-16-1 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1240px;
  top: 1124px;
  object-fit: cover;
  aspect-ratio: 1;
}
.tumblr-3-a-2-fa-1-af-6-d-970-c-55-bec-8-f-4-ddba-3496-c-9-41-a-7-dc-66-250-1 {
  width: 281px;
  height: 260px;
  position: absolute;
  left: 2px;
  top: 286px;
  object-fit: cover;
  aspect-ratio: 281/260;
}
.g-1-1 {
  width: 202px;
  height: 539px;
  position: absolute;
  left: 56px;
  top: 1124px;
  object-fit: cover;
  aspect-ratio: 202/539;
}
.tumblr-02-e-464-de-0-be-19-a-4-faf-52-f-370-cfb-1-bccb-ff-8-e-9-f-99-250-1 {
  width: 229px;
  height: 229px;
  position: absolute;
  left: 1183px;
  top: 79px;
  object-fit: cover;
  aspect-ratio: 1;
}
.img-9420-1 {
  width: 1488px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: 1590px;
  object-fit: cover;
  aspect-ratio: 1488/300;
}
._9178-dcf-40-ceae-52-f-601-fcfeae-4261-dfc-1 {
  width: 152px;
  height: 152px;
  position: absolute;
  left: 453px;
  top: 953px;
  object-fit: cover;
  aspect-ratio: 1;
}
._7-a-003-e-1-c-32-d-2417-e-7-e-87-ca-0-dd-201-eaef-1 {
  width: 130px;
  height: 126px;
  position: absolute;
  left: 678px;
  top: 966px;
  object-fit: cover;
  aspect-ratio: 130/126;
}
.f-0-de-2-dafdcf-1-a-2-c-8-d-71-ab-34-d-1334-f-5-d-7-1 {
  width: 164px;
  height: 164px;
  position: absolute;
  left: 874px;
  top: 941px;
  object-fit: cover;
  aspect-ratio: 1;
}
