.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
._1-b-4756854166-eb-5338-b-2-bbc-7445-c-9-b-46-1 {
  width: 1908px;
  height: 1055px;
  position: absolute;
  left: 0px;
  top: -31px;
  object-fit: cover;
  aspect-ratio: 1908/1055;
}
.rectangle-1 {
  background: rgba(255, 114, 199, 0.61);
  width: 678px;
  height: 913px;
  position: absolute;
  left: 381px;
  top: 55px;
}
.a-7-ed-1-ae-36-d-8-f-2-cd-814-eeba-843-bba-97-c-8-1 {
  width: 1505px;
  height: 847px;
  position: absolute;
  left: 0px;
  top: -747px;
  object-fit: cover;
  aspect-ratio: 1505/847;
}
.rectangle-12 {
  background: rgba(245, 200, 227, 0.68);
  border-radius: 57px;
  width: 475px;
  height: 507px;
  position: absolute;
  left: 479px;
  top: 238px;
}
.gbhc-0-y-1 {
  width: 683px;
  height: 820px;
  position: absolute;
  left: 381px;
  top: 103px;
  object-fit: cover;
  aspect-ratio: 683/820;
}
.b-08-f-8930-a-108-ead-6122-bd-70481-bfe-8-a-8-1 {
  width: 70px;
  height: 108px;
  position: absolute;
  left: 838px;
  top: 300px;
  object-fit: cover;
  aspect-ratio: 70/108;
}
._5-d-2-ab-0-f-3-a-40-c-02-cb-60-bf-408-e-0839-c-9-eb-1 {
  width: 80px;
  height: 110px;
  position: absolute;
  left: 665px;
  top: 302px;
  object-fit: cover;
  aspect-ratio: 80/110;
}
._8149-c-0-b-357-f-240-eb-5877-ded-83-c-6323-b-5-1 {
  width: 74px;
  height: 107px;
  position: absolute;
  left: 503px;
  top: 301px;
  object-fit: cover;
  aspect-ratio: 74/107;
}
.e-354-c-8-ebb-811-d-067-f-79-c-47-f-7-df-5-edce-9-1 {
  width: 1500px;
  height: 500px;
  position: absolute;
  left: -30px;
  top: 934px;
  object-fit: cover;
  aspect-ratio: 1500/500;
}
._9-1 {
  width: 431px;
  height: 431px;
  position: absolute;
  left: -6px;
  top: 314px;
  object-fit: cover;
  aspect-ratio: 1;
}
.tumblr-20-e-9-bb-6961-eb-136-c-67-a-2-c-5-d-3-afa-4-dbd-8-dd-387-e-40-100-1 {
  width: 346px;
  height: 199px;
  position: absolute;
  left: 1094px;
  top: 716px;
  object-fit: cover;
  aspect-ratio: 346/199;
}
.tumblr-6-c-48-f-078077017668-adf-26932590-a-62-f-c-867743-a-250-1 {
  width: 144px;
  height: 144px;
  position: absolute;
  left: 323px;
  top: 644px;
  object-fit: cover;
  aspect-ratio: 1;
}
._71-1 {
  width: 254px;
  height: 65px;
  position: absolute;
  left: 550px;
  top: 143px;
  object-fit: cover;
  aspect-ratio: 254/65;
}
.rectangle-2 {
  background: #f63983;
  border-radius: 9px;
  width: 336px;
  height: 37px;
  position: absolute;
  left: 45px;
  top: 384px;
}
.rectangle-8 {
  background: #f63983;
  border-radius: 9px;
  width: 336px;
  height: 37px;
  position: absolute;
  left: 537px;
  top: 251px;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 677px;
  top: 254px;
}
.rectangle-9 {
  background: #f63983;
  border-radius: 9px;
  width: 336px;
  height: 37px;
  position: absolute;
  left: 537px;
  top: 421px;
}
.div3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 665px;
  top: 425px;
}
.rectangle-11 {
  border-radius: 0px;
  width: 336px;
  height: 37px;
  position: absolute;
  left: 537px;
  top: 596px;
  overflow: visible;
}
.div4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 649px;
  top: 606px;
}
.div5 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 173px;
  top: 395px;
  width: 86px;
  height: 15px;
}
.ellipse-1 {
  background: #fec1d0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 68px;
  top: 455px;
}
.ellipse-3 {
  background: #fec1d0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 68px;
  top: 539px;
}
.ellipse-4 {
  background: #fec1d0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 68px;
  top: 581px;
}
.ellipse-2 {
  background: #fec1d0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 68px;
  top: 497px;
}
.div6 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 112px;
  top: 461px;
}
.div7 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 110px;
  top: 507px;
}
.div8 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 108px;
  top: 545px;
}
.div9 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 108px;
  top: 587px;
}
.rectangle-3 {
  background: #f63983;
  border-radius: 20px;
  width: 205px;
  height: 55px;
  position: absolute;
  left: 108px;
  top: 642px;
}
.div10 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 164px;
  top: 650px;
}
.rectangle-4 {
  background: #230318;
  border-radius: 17px;
  width: 782px;
  height: 56px;
  position: absolute;
  left: 323px;
  top: 24px;
}
.rectangle-6 {
  background: #230318;
  border-radius: 17px;
  width: 782px;
  height: 56px;
  position: absolute;
  left: 346px;
  top: 951px;
}
.rectangle-5 {
  background: rgba(255, 35, 167, 0.61);
  border-radius: 22.5px;
  width: 147px;
  height: 45px;
  position: absolute;
  left: 590px;
  top: 30px;
}
.div11 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 346px;
  top: 30px;
}
.rectangle-7 {
  background: rgba(255, 35, 167, 0.61);
  border-radius: 22.5px;
  width: 147px;
  height: 45px;
  position: absolute;
  left: 590px;
  top: 956px;
}
.div12 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 361px;
  top: 959px;
}
._7-a-003-e-1-c-32-d-2417-e-7-e-87-ca-0-dd-201-eaef-no-bg-preview-carve-photos-1 {
  width: 71px;
  height: 69px;
  position: absolute;
  left: 550px;
  top: 644px;
  object-fit: cover;
  aspect-ratio: 71/69;
}
.f-0-de-2-dafdcf-1-a-2-c-8-d-71-ab-34-d-1334-f-5-d-7-no-bg-preview-carve-photos-1 {
  width: 102px;
  height: 102px;
  position: absolute;
  left: 649px;
  top: 633px;
  object-fit: cover;
  aspect-ratio: 1;
}
._9178-dcf-40-ceae-52-f-601-fcfeae-4261-dfc-edited-free-carve-photos-1 {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 783px;
  top: 644px;
  object-fit: cover;
  aspect-ratio: 1;
}
._3-f-188-fb-84189902-fcd-9-b-937-daf-37-c-14-a-1 {
  width: 67px;
  height: 100px;
  position: absolute;
  left: 503px;
  top: 476px;
  object-fit: cover;
  aspect-ratio: 67/100;
}
.cfe-0-ff-3-b-7-fb-9-dc-136-ef-341-de-679-c-3346-1 {
  width: 67px;
  height: 123px;
  position: absolute;
  left: 660px;
  top: 463px;
  object-fit: cover;
  aspect-ratio: 67/123;
}
.c-61-c-1-adcda-3937-ca-74-be-07-d-2-f-156-c-155-1 {
  width: 70px;
  height: 105px;
  position: absolute;
  left: 838px;
  top: 476px;
  object-fit: cover;
  aspect-ratio: 70/105;
}
.tumblr-a-2988-c-7-ef-94-e-401-b-053293-caa-13-d-68-ed-0-d-2117-f-1-250-1 {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 575px;
  top: 706px;
  object-fit: cover;
  aspect-ratio: 1;
}
.tumblr-465-dd-160-ebba-33591-b-0-d-3086-b-05-c-9527-301237-d-4-250-1 {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 1142px;
  top: 171px;
  object-fit: cover;
  aspect-ratio: 1;
}
