.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 1423px;
  position: relative;
  overflow: hidden;
}
._0477764895-b-3-b-7-f-5-a-1996-a-3776716-ac-2-1 {
  width: 2186px;
  height: 1229px;
  position: absolute;
  left: -379px;
  top: 73px;
  object-fit: cover;
  aspect-ratio: 2186/1229;
}
.rectangle-19 {
  background: rgba(228, 234, 204, 0.79);
  width: 908px;
  height: 1240px;
  position: absolute;
  left: 273px;
  top: 73px;
}
.c-61-c-1-adcda-3937-ca-74-be-07-d-2-f-156-c-155-2 {
  width: 163px;
  height: 244px;
  position: absolute;
  left: 845px;
  top: 836px;
  object-fit: cover;
  aspect-ratio: 163/244;
}
.cfe-0-ff-3-b-7-fb-9-dc-136-ef-341-de-679-c-3346-2 {
  width: 128px;
  height: 233px;
  position: absolute;
  left: 650px;
  top: 832px;
  object-fit: cover;
  aspect-ratio: 128/233;
}
._3-f-188-fb-84189902-fcd-9-b-937-daf-37-c-14-a-2 {
  width: 164px;
  height: 244px;
  position: absolute;
  left: 419px;
  top: 836px;
  object-fit: cover;
  aspect-ratio: 164/244;
}
.b-3-da-2-c-87-ae-0-e-5-ed-67795555-c-6590-d-02-e-edited-free-carve-photos-2 {
  width: 640px;
  height: 560px;
  position: absolute;
  left: 394px;
  top: 237px;
  object-fit: cover;
  aspect-ratio: 640/560;
}
.tumblr-496-a-5-d-74078595315-c-0-b-20-e-8-bec-1-a-361-4472-fa-9-f-2048-1 {
  width: 1492px;
  height: 145px;
  position: absolute;
  left: -52px;
  top: 73px;
  object-fit: cover;
  aspect-ratio: 1492/145;
}
.tumblr-907-e-8-e-44-b-3517-f-2-a-6026728-e-204-dd-040-25-c-31-c-08-100-1 {
  width: 299px;
  height: 169px;
  position: absolute;
  left: 1099px;
  top: 521px;
  object-fit: cover;
  aspect-ratio: 299/169;
}
.tumblr-981-b-701-a-007-fded-6-c-71-cf-3-aefef-146-b-5-caf-6-af-75-100-1 {
  width: 299px;
  height: 166px;
  position: absolute;
  left: 60px;
  top: 568px;
  object-fit: cover;
  aspect-ratio: 299/166;
}
.tumblr-831006-e-4-b-0-ffa-0846-bead-274-b-500305-f-415735-a-2-250-1 {
  width: 219px;
  height: 68px;
  position: absolute;
  left: 1099px;
  top: 259px;
  object-fit: cover;
  aspect-ratio: 219/68;
}
.tumblr-b-1-b-537-c-78-b-6348-c-0-fdefb-1-e-638290836-4-b-7-be-32-f-100-1 {
  width: 299px;
  height: 169px;
  position: absolute;
  left: 1115px;
  top: 853px;
  object-fit: cover;
  aspect-ratio: 299/169;
}
.tumblr-b-7-ca-4-fbd-46-fbc-7-bc-11-a-0-af-74-cbcc-7-e-8-f-d-3-c-03-fee-100-1 {
  width: 299px;
  height: 169px;
  position: absolute;
  left: 53px;
  top: 937px;
  object-fit: cover;
  aspect-ratio: 299/169;
}
.tumblr-bf-121746320-e-843-e-2492645-d-3-b-09-a-833-00-dcfa-68-2048-1 {
  width: 823px;
  height: 142px;
  position: absolute;
  left: 308px;
  top: 1072px;
  object-fit: cover;
  aspect-ratio: 823/142;
}
.tumblr-ca-421735-deb-988-b-43-e-32923-e-32685104-fbcc-6701-500-1 {
  width: 1622px;
  height: 156px;
  position: absolute;
  left: -3px;
  top: 1348px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 1622/156;
}
.rectangle-17 {
  background: #abba72;
  width: 1440px;
  height: 110px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-18 {
  background: #abba72;
  width: 1440px;
  height: 110px;
  position: absolute;
  left: 0px;
  top: 1313px;
}
.tumblr-f-614-f-4-b-3408-a-6618-b-1-b-2-a-9-f-86-d-46-b-70-b-463-f-83-ea-75-1 {
  width: 146px;
  height: 146px;
  position: absolute;
  left: 235px;
  top: 705px;
  object-fit: cover;
  aspect-ratio: 1;
}
.tumblr-0-d-7-e-9-fc-22-a-313-e-02-a-4920040-d-80-a-18-dc-82-a-80-f-4-d-250-1 {
  width: 128px;
  height: 128px;
  position: absolute;
  left: 53px;
  top: 873px;
  object-fit: cover;
  aspect-ratio: 1;
}
.tumblr-5-f-0-ee-822-dcf-6236-c-1818-b-6-f-6-f-24-b-812-a-0-c-1-f-7766-250-1 {
  width: 272px;
  height: 261px;
  position: absolute;
  left: 285px;
  top: 345px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 272/261;
}
.tumblr-a-018-cff-8-eed-2477-b-5692-c-7-c-56084-d-980-cdfbe-1-e-3-250-1 {
  width: 150.85px;
  height: 150.85px;
  position: absolute;
  left: 968.02px;
  top: 364.5px;
  transform-origin: 0 0;
  transform: rotate(-103.813deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 1;
}
.better-image-1760810820454-photoroom-1 {
  width: 282px;
  height: 282px;
  position: absolute;
  left: 285px;
  top: 118px;
  object-fit: cover;
  aspect-ratio: 1;
}
.better-image-1761766635842-photoroom-1 {
  width: 269.03px;
  height: 201.71px;
  position: absolute;
  left: 567px;
  top: 113.51px;
  transform-origin: 0 0;
  transform: rotate(-0.747deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 269.03/201.71;
}
.rectangle-20 {
  background: rgba(217, 217, 217, 0.52);
  border-radius: 22px;
  width: 813px;
  height: 70px;
  position: absolute;
  left: 302px;
  top: 1338px;
}
.rectangle-21 {
  background: rgba(217, 217, 217, 0.52);
  border-radius: 22px;
  width: 813px;
  height: 70px;
  position: absolute;
  left: 318px;
  top: 22px;
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 342px;
  top: 1348px;
}
.div3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 359px;
  top: 34px;
}
.d-39-onsm-f-7-d-703-d-2-e-96-c-493-a-b-94-e-24-f-1-ea-2-d-7842-1 {
  width: 207px;
  height: 117px;
  position: absolute;
  left: 78px;
  top: 248px;
  object-fit: cover;
  aspect-ratio: 207/117;
}
.flower-1 {
  width: 480px;
  height: 270px;
  position: absolute;
  left: 927px;
  top: 958px;
  object-fit: cover;
  aspect-ratio: 16/9;
}
._3776191-hv-7-i-0-gyore-1 {
  width: 186px;
  height: 186px;
  position: absolute;
  left: 116px;
  top: 1104px;
  object-fit: cover;
  aspect-ratio: 1;
}
