.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 2836px;
  position: relative;
  overflow: hidden;
}
.f-8-e-3-ae-5640198476-de-246-c-0-e-5-df-142-bd-1 {
  width: 1625px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1625/1024;
}
.f-8-e-3-ae-5640198476-de-246-c-0-e-5-df-142-bd-2 {
  width: 3156px;
  height: 1989px;
  position: absolute;
  left: -378px;
  top: 1024px;
  object-fit: cover;
  aspect-ratio: 3156/1989;
}
.petals-1 {
  width: 1494px;
  height: 747px;
  position: absolute;
  left: -37px;
  top: 181px;
  object-fit: cover;
  aspect-ratio: 2/1;
}
.rectangle-15 {
  background: #fffefe;
  width: 678px;
  height: 1379px;
  position: absolute;
  left: 371px;
  top: 1233px;
}
.img-8835-1 {
  width: 271px;
  height: 864px;
  position: absolute;
  left: 1169px;
  top: 1188px;
  object-fit: cover;
  aspect-ratio: 271/864;
}
.img-8835-2 {
  width: 271px;
  height: 864px;
  position: absolute;
  left: 25px;
  top: 1188px;
  object-fit: cover;
  aspect-ratio: 271/864;
}
.tumblr-7548-d-93-b-4-bc-3-cb-396-ccb-6-c-3-d-49-d-68109-3184-cc-69-1280-1 {
  width: 1496.01px;
  height: 846.23px;
  position: absolute;
  left: 1142.23px;
  top: 1188px;
  transform-origin: 0 0;
  transform: rotate(89.924deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 1496.01/846.23;
}
.rectangle-13 {
  background: #ff82bc;
  width: 1440px;
  height: 85px;
  position: absolute;
  left: 0px;
  top: 2763px;
}
.rectangle-14 {
  background: #ffcee5;
  width: 1440px;
  height: 85px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.dbrfiax-f-6058-de-8-a-6-ec-4465-94-d-2-749-bb-66-f-0-c-26-1 {
  width: 1477px;
  height: 120px;
  position: absolute;
  left: -37px;
  top: 56px;
  object-fit: cover;
  aspect-ratio: 1477/120;
}
.ddv-3-z-3-m-63-e-2-b-252-7548-41-b-3-8-f-82-6891149400-bd-1 {
  width: 1440px;
  height: 175px;
  position: absolute;
  left: -2px;
  top: 2643px;
  object-fit: cover;
  aspect-ratio: 1440/175;
}
.r-9-kkry-1 {
  width: 278px;
  height: 202px;
  position: absolute;
  left: 50px;
  top: 700px;
  object-fit: cover;
  aspect-ratio: 278/202;
}
.latgzr-1 {
  width: 904px;
  height: 867px;
  position: absolute;
  left: 296px;
  top: 140px;
  object-fit: cover;
  aspect-ratio: 904/867;
}
.tumblr-563-a-029909-d-44-e-5-b-99-a-9-dc-12-d-8162-b-18-2-f-9-b-72-d-4-400-1 {
  width: 1457px;
  height: 254px;
  position: absolute;
  left: -9px;
  top: 918px;
  object-fit: cover;
  aspect-ratio: 1457/254;
}
.dmn-3-g-7-1 {
  width: 234px;
  height: 252px;
  position: absolute;
  left: 1169px;
  top: 176px;
  object-fit: cover;
  aspect-ratio: 234/252;
}
._1280286-sokmo-55-abo-1 {
  width: 203px;
  height: 203px;
  position: absolute;
  left: 1203px;
  top: 715px;
  object-fit: cover;
  aspect-ratio: 1;
}
.b-59-x-24-1 {
  width: 220px;
  height: 207px;
  position: absolute;
  left: 1200px;
  top: 711px;
  object-fit: cover;
  aspect-ratio: 220/207;
}
._1293615-a-9-bwb-9-ebip-1 {
  width: 276px;
  height: 276px;
  position: absolute;
  left: 1144px;
  top: 2019px;
  object-fit: cover;
  aspect-ratio: 1;
}
.b-3-da-2-c-87-ae-0-e-5-ed-67795555-c-6590-d-02-e-edited-free-carve-photos-1 {
  width: 725px;
  height: 634px;
  position: absolute;
  left: 377px;
  top: 294px;
  object-fit: cover;
  aspect-ratio: 725/634;
}
._1815461-kr-6-olxnodw-1 {
  width: 322px;
  height: 180px;
  position: absolute;
  left: 549px;
  top: 2413px;
  object-fit: cover;
  aspect-ratio: 322/180;
}
.tumblr-4-eecfceba-6-b-3-cdf-995-e-09-a-19-d-3087192-9503107-a-250-1 {
  width: 347px;
  height: 132px;
  position: absolute;
  left: 210px;
  top: 268.2px;
  transform-origin: 0 0;
  transform: rotate(-16.095deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 347/132;
}
.tumblr-c-767-bcda-9-da-703-b-20-bcfef-5-b-206-c-2079-20155-f-1-c-100-1 {
  width: 261px;
  height: 148px;
  position: absolute;
  left: 35px;
  top: 395px;
  object-fit: cover;
  aspect-ratio: 261/148;
}
._30-1 {
  width: 693px;
  height: 537px;
  position: absolute;
  left: 371px;
  top: 1265px;
  object-fit: cover;
  aspect-ratio: 693/537;
}
.tumblr-3-a-84337694-f-21-fd-0-b-880-e-1-bd-63101-fd-7-351868-fd-250-1 {
  width: 645px;
  height: 86px;
  position: absolute;
  left: 395px;
  top: 1802px;
  object-fit: cover;
  aspect-ratio: 645/86;
}
.img-1607-1 {
  width: 698px;
  height: 444px;
  position: absolute;
  left: 371px;
  top: 1888px;
  object-fit: cover;
  aspect-ratio: 698/444;
}
.tumblr-39-d-74-a-25-bedb-80-ca-1-b-91210-cf-6-af-8-be-5-8-e-126094-250-1 {
  width: 525px;
  height: 70px;
  position: absolute;
  left: 434px;
  top: 2332px;
  object-fit: cover;
  aspect-ratio: 525/70;
}
.tumblr-d-11-ff-6-cba-21-d-4-f-3-da-777-d-74-f-0-a-830549-c-152-bafb-75-1 {
  width: 76px;
  height: 76px;
  position: absolute;
  left: 175px;
  top: 693px;
  object-fit: cover;
  aspect-ratio: 1;
}
.tumblr-0-bb-606-cc-7325460-efec-8-a-08374-e-87-d-48-998-a-197-a-250-1 {
  width: 242px;
  height: 139px;
  position: absolute;
  left: 1184px;
  top: 452px;
  object-fit: cover;
  aspect-ratio: 242/139;
}
.tumblr-5-d-2-ff-0-ea-5-b-0-cf-893-e-0-ad-76-d-7091-b-8385-4-a-682-ab-8-250-1 {
  width: 363px;
  height: 544px;
  position: absolute;
  left: 25px;
  top: 2217px;
  object-fit: cover;
  aspect-ratio: 363/544;
}
.tumblr-326-b-532281-c-005288-d-4-e-633-c-69-f-028-f-7-5-a-98362-b-100-1 {
  width: 271px;
  height: 153px;
  position: absolute;
  left: 25px;
  top: 1563px;
  object-fit: cover;
  aspect-ratio: 271/153;
}
.tumblr-5562-b-75894537162-b-7-e-94113-ed-37-d-02-a-71-b-863-b-7-100-1 {
  width: 107.3px;
  height: 379.12px;
  position: absolute;
  left: 1069px;
  top: 1435.24px;
  transform-origin: 0 0;
  transform: rotate(-40.187deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 107.3/379.12;
}
.tumblr-f-43-eedd-0-c-0-f-41-d-6-e-149-d-707-e-46-e-2-ed-7-a-26-aa-6-a-75-100-1 {
  width: 229px;
  height: 127px;
  position: absolute;
  left: 1167px;
  top: 1845px;
  object-fit: cover;
  aspect-ratio: 229/127;
}
.tumblr-e-415-bf-52-bbe-05458-bc-5-d-46-f-112832-abd-d-083374-f-100-1 {
  width: 242px;
  height: 137px;
  position: absolute;
  left: 1189px;
  top: 2402px;
  object-fit: cover;
  aspect-ratio: 242/137;
}
.tumblr-e-014412-b-4339-fc-9-fc-6638-b-736-b-682029-d-0-e-7866-e-75-f-1 {
  width: 109px;
  height: 109px;
  position: absolute;
  left: 213px;
  top: 1524px;
  object-fit: cover;
  aspect-ratio: 1;
}
.tumblr-f-9-d-433-b-3-eb-6-ffa-7-c-72-acd-820-c-8-e-851-bc-75184438-100-1 {
  width: 262.66px;
  height: 145.92px;
  position: absolute;
  left: 33.48px;
  top: 1864px;
  transform-origin: 0 0;
  transform: rotate(0.188deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 262.66/145.92;
}
.w-5-go-4-r-1 {
  width: 103px;
  height: 103px;
  position: absolute;
  left: 79px;
  top: 2083px;
  object-fit: cover;
  aspect-ratio: 1;
}
._1 {
  width: 217px;
  height: 193px;
  position: absolute;
  left: 1249px;
  top: 2548px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 217/193;
}
.ww-1 {
  width: 335px;
  height: 338px;
  position: absolute;
  left: 1118px;
  top: 1994px;
  object-fit: cover;
  aspect-ratio: 335/338;
}
.rectangle-132 {
  background: #f1a7be;
  border-radius: 17px;
  width: 782px;
  height: 56px;
  position: absolute;
  left: 329px;
  top: 14px;
}
.rectangle-16 {
  background: #f9829c;
  border-radius: 22px;
  width: 124px;
  height: 56px;
  position: absolute;
  left: 329px;
  top: 14px;
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 348px;
  top: 17px;
}
._8149-c-0-b-357-f-240-eb-5877-ded-83-c-6323-b-5-2 {
  width: 137px;
  height: 197px;
  position: absolute;
  left: 479px;
  top: 1327px;
  object-fit: cover;
  aspect-ratio: 137/197;
}
._5-d-2-ab-0-f-3-a-40-c-02-cb-60-bf-408-e-0839-c-9-eb-2 {
  width: 144px;
  height: 197px;
  position: absolute;
  left: 646px;
  top: 1327px;
  object-fit: cover;
  aspect-ratio: 144/197;
}
.b-08-f-8930-a-108-ead-6122-bd-70481-bfe-8-a-8-2 {
  width: 129px;
  height: 199px;
  position: absolute;
  left: 836px;
  top: 1327px;
  object-fit: cover;
  aspect-ratio: 129/199;
}
.image-4 {
  width: 535px;
  height: 256px;
  position: absolute;
  left: 452px;
  top: 1972px;
  object-fit: cover;
  aspect-ratio: 535/256;
}
.div3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 371px;
  top: 2779px;
}
._021-1 {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 41px;
  top: 567px;
  object-fit: cover;
  aspect-ratio: 1;
}
